.file-form input{
   border: 0;
   border-bottom: 2px solid #4b96e6;


   font-size: 20px;
   line-height: 30px;
   height: 70px;
   text-align: center;
   padding: 5px;
   background: transparent;
   color: #4b96e6;

}
.file-form input:focus {
  outline: 0;
  color: #4b96e6;

}
.file-form small{
  
}
.file-form{
  display:flex;
  flex-direction: column;
  padding:10px;
  width:20%;
}

.editor-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
